!.gitignore

.vscode/

.idea/
*.iml

*.sum
*.work

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
statik.go

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.run
*.bin
*.pu

*/kserver/kserver
*/recycle-bin/recycle-bin
*/keylogger/keylogger
*/keylogger/static/js/lib

.scannerwork/
