.rounded {
    border-radius: 16px;
    background: rgba(43, 45, 51, 0.9);
    padding: 2px;
    overflow: hidden;
}

window {
    background: rgba(43, 45, 51, 0.9);
}

grid {
    border-radius: 16px;
}

label {
    border-radius: 16px;
}