.rounded {
    border-radius: 8px;
    background: rgba(40, 40, 40, 1);
    /* padding: 1px; */
    overflow: hidden;
}

window {
    background: rgba(40, 40, 40, 1);
}

grid {
    border-radius: 8px;
}

label {
    border-radius: 8px;
}