* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

.dir button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

#echoForm textarea {
    width: 370px;
    height: 180px;
    resize: none;
}

#echoForm button {
    width: 80px;
    height: 30px;
}

#req-log {
    margin-top: 10px;
    float: left;
}

#req-log-head {
    /*color: seagreen;*/
}

.req-log-body tr {
    width: 100vw;
    height: 55px;
}

/*设置奇数行颜色*/
.req-log-body tr:nth-child(odd) {
    /*background-color: #EAEBFF;*/
    /*background-color: #ECF1DF;*/
    background-color: #ecf0f1;
    /*background-color: #f3e7e9;*/
    /*background-color: lightgreen;*/
}

/*设置偶数行颜色*/
.req-log-body tr:nth-child(even) {
    /*background: white;*/
    /*background: #E5E0ED;*/
    background: #bdc3c7;
    /*background: #dad4ec;*/
    /*background: #ECF1DF;*/
}

.req-log-body td {
    /*padding-right: 8px;*/
}

.req-url {
    max-width: 800px;
    overflow: auto;
    font-size: medium;
    /*font-weight: bold;*/
}

.req-use-time {
    font-size: small;
}

.req-btn {
    border-radius: 4px;
    border: none;
    margin: 1px;
    padding: 2px;
}

.req-btn-replay {
    background-color: #7597de;
}

.req-btn-curl {
    background-color: #3498db;
}

.req-btn-page {
    background-color: #e74c3c;
}

.req-btn-delete {
    background-color: #e67e22;
}

code {
    white-space: break-spaces;
}

#detail {
    height: 90vh;
    width: 650px;
    float: left;
    margin-left: 5px;
    /*background-color: #66d9ef;*/
}

.req-req-head {
    font-size: small;
    max-height: 500px;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 8px;
    margin-top: 2px;
}

.req-req-body {
    font-size: small;
    max-height: 600px;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 8px;
    margin-bottom: 4px;
    margin-top: 2px;
}

.single-body-height {
    max-height: 700px;
}

.req-rsp-body {
    margin-top: 4px;
    font-size: small;
    max-height: 600px;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 8px;
}

.noClick {
    cursor: not-allowed;
    pointer-events: none; /* 禁止鼠标点击 */
}

.detail-nav {
    margin-top: 20px;
}

.detail-nav span {
    display: block;
    text-align: center;
    width: 90px;
    margin-right: -4px;
    float: left;
}

.nav-active {
    background-color: #3498db;
}

.nav-inactive {
    background-color: white;
}

.iframe-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 998;
    display: none;
}

.iframe-page {
    position: absolute;
    width: 90%;
    height: 85%;
    background-color: white;
    top: 40%;
    margin-left: -45%;
    margin-top: -20%;
}

.iframe-self {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: white;
}

.display-row {
    background-color: #00bb00;
    border: #66d9ef;
}