* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    padding: 5px;
    height: calc(100vh - 10px);
}

.CodeMirror {
    height: 100% !important;
}

.group-list {
    float: left;
    height: calc(100vh - 10px);
    overflow-y: auto;
    overflow-x: hidden;
}

.group-item {
    width: 320px;
    height: 35px;
    padding-left: 8px;
    font-size: 18px;
    border-top: 1px dotted;
}

.group-item span {
    margin-left: 8px;
    width: 260px;
    height: 35px;
    padding-top: 8px;
    display: inline-block;
}

.group-item input {
    padding-top: 8px;
    margin-left: 10px;
}

.new-input {
    width: 280px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
}
